$color-text: #FFFFFF;
$color-text-dark: #000000;
$color-gray: #888888;
$color-light-gray: #CACDD8;
$color-background: #F7F6F6;
$gap: 32px;
$font-weight-base: 400; 
$font-weight-small: 500; 
$font-weight-large: 600;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-Megalarge: 64px;