* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.line_ {
  width: 1200px;
  top: 77px;
  left: 120px;
  border: 0.5px 0px 0px 0px;
  border-style: solid;
  border-color: #FFFFFF;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 77px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.5px solid #FFFFFF;
}
.header__logo {
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  text-align: left;
  text-underline-position: from-font;
}
.header__input {
  max-width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-left: 32px;
  padding-right: 32px;
}
.header__input::-moz-placeholder {
  color: #FFFFFF;
}
.header__input::placeholder {
  color: #FFFFFF;
}
.header__input:focus {
  outline: none;
}
.header__menu {
  display: flex;
  gap: 32px;
}
.header__link {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header__link:hover {
  text-decoration: underline;
}
.header__menu-mob {
  display: none;
}

.title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 100%;
  color: #FFFFFF;
}

.top {
  height: 735px;
  background-image: url(image/backgraund.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.top__slogan {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.top__gotocatalog {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.furniture-categories__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.furniture-categories {
  margin-top: 64px;
  margin-bottom: 64px;
}
.furniture-categories__heading {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 32px;
}
.furniture-categories__item {
  height: 415px;
  grid-column: span 4;
  font-size: 34px;
  font-weight: 600;
  line-height: 41.45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
.furniture-categories__item--big {
  grid-column: span 6;
}
.furniture-categories__item--relax {
  background-image: url(image/relax.jpg);
  background-size: cover;
}
.furniture-categories__item--work {
  background-image: url(image/work.jpg);
  background-size: cover;
}
.furniture-categories__item--kitchen {
  background-image: url(image/kitchen.jpg);
  background-size: cover;
}
.furniture-categories__item--kids {
  background-image: url(image/kids.jpg);
  background-size: cover;
}
.furniture-categories__item--bathroom {
  background-image: url(image/bathroom.jpg);
  background-size: cover;
}

.catalog__content {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
}
.catalog__heading {
  padding-top: 64px;
  display: flex;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
}

.products__heading {
  padding-bottom: 32px;
  display: flex;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
  text-align: left;
}
.products__content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
}

.product {
  max-width: 378px;
  display: flex;
  flex-direction: column;
}
.product_price-box {
  display: flex;
  gap: 32px;
}
.product-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product__img {
  display: flex;
  width: 100%;
}
.product__img::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/image/hearticon.png);
}
.product__img:hover .product-icons {
  opacity: 1;
}
.product__icon-cart, .product__icon-heart {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product__icon-cart::before {
  content: "";
  background-image: url(image/cart.png);
  background-size: cover;
}
.product__icon-heart::before {
  content: "";
  background-image: url(image/hearticon.png);
  background-size: cover;
}
.product__name {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 9px;
  height: 29px;
  top: 260px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  display: flex;
}
.product__description {
  margin-bottom: 12px;
  color: gray;
  max-width: 379px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
}
.product__price-box {
  display: flex;
  gap: 32px;
}
.product__price {
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
}
.product__price--sale {
  color: #888888;
  text-decoration: line-through;
}

.link-box {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
  padding-top: 31px;
  padding-bottom: 64px;
}
.link-box:hover {
  color: #888888;
  text-decoration-line: none;
}

.footer {
  background: #F7F6F6;
  height: 207px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 58px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  margin-right: 0;
}
.footer__menu-title {
  display: flex;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu-link {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  padding-bottom: 12px;
}
.footer__menu-title {
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 400;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__contacts-title {
  font-size: 24px;
  font-weight: 400;
}
.footer__contacts-item ul li {
  margin-bottom: 12px;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__contacts-link {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}
.footer__contacts-link {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}
.footer__social {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
.footer__social-icons img {
  max-width: 30px;
  height: auto;
}
.footer__social-link {
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-indent: 12px;
  display: flex;
}
.footer__social__icon {
  padding-top: 12px;
  padding-bottom: 58px;
}
.footer__subscribe-text {
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
}
.footer__subscribe-button {
  margin-top: 8px;
  display: block;
  width: 260px;
  height: 40px;
  background: rgba(222, 215, 215, 0.4117647059);
  border-radius: 16px;
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.footer__subscribe-button:hover {
  background: #000000;
  color: #FFFFFF;
}
.footer__subscribe-email {
  width: 226px;
  height: 40px;
  border-radius: 16px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  padding-left: 17px;
  padding-right: 17px;
}
.footer__subscribe-email::-moz-placeholder {
  color: #C4C4C4;
}
.footer__subscribe-email::placeholder {
  color: #C4C4C4;
}

.email__box {
  display: flex;
  margin-left: 20px;
}

.catalog-top {
  height: 400px;
  background-image: url(image/catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.catalog-top__title {
  display: flex;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 127px;
  margin-bottom: 16px;
  max-width: 792px;
  color: #FFFFFF;
}

.catalog-menu {
  padding-top: 64px;
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.catalog-menu nav {
  display: flex;
  gap: 10px;
}
.catalog-menu__link {
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.catalog-filter-box {
  display: flex;
  gap: 10px;
  margin-bottom: 39px;
}
.catalog-filter-button {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.catalog-filter__item1 {
  border: 1px solid #000000;
  width: 182px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-right: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(image/Polygon\ 1.svg);
  background-repeat: no-repeat;
  background-position: 140px;
  background-color: transparent;
  font-family: Montserrat;
  font-weight: 500;
}
.catalog-filter__form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}
.catalog-filter__content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 65px;
}
.catalog-filter__item2 {
  border-color: 1px solid #000000;
  width: 227px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  padding-left: 23px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(image/Polygon\ 1.svg);
  background-repeat: no-repeat;
  background-position: 185px;
  font-family: Montserrat;
  font-weight: 400;
}

.catalog-filter__part-left {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.catalog-filter__part-right {
  width: 190px;
  height: 330px;
  gap: 36px;
}

.catalog-filter__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  gap: 14px;
}

.catalog-filter__legend {
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
}

.catalog-filter__radio {
  display: flex;
  align-items: center;
}
.catalog-filter__radio-input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.catalog-filter__radio-input:checked + .catalog-filter__radio-label::before {
  border-color: black;
  background-image: url(image/galka.png);
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
.catalog-filter__radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  gap: 10px;
}
.catalog-filter__radio-label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease;
}

.catalog-filter__range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.catalog-filter__range-slider {
  position: relative;
  width: 210px;
  height: 20px;
}
.catalog-filter__range-input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
  position: absolute;
}
.catalog-filter__range-input--min {
  z-index: 1;
}
.catalog-filter__range-input--max {
  z-index: 1;
}
.catalog-filter__range-input, .catalog-filter__range-input::-webkit-slider-runnable-track, .catalog-filter__range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.catalog-filter__range-input::-webkit-slider-runnable-track {
  max-width: 200px;
  height: 1px;
  background-color: #000000;
}
.catalog-filter__range-input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.catalog-filter__range-input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.catalog-filter__content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.catalog-filter__button {
  display: flex;
  justify-content: flex-end;
}
.catalog-filter__button-submit {
  font-family: Montserrat;
  width: 190px;
  height: 40px;
  border-radius: 20px;
  border-width: 1px;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}
.catalog-filter__button-submit:hover {
  background: #000000;
  color: #FFFFFF;
}

.catalog-filter__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.catalog-filter__checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.catalog-filter__checkbox-input:checked + label::after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  background-image: url(image/galka.png);
  background-size: 8px;
  border-width: 1px;
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.catalog-filter__checkbox-label {
  display: block;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s ease;
}

.catalog-filter-top {
  display: flex;
  gap: 14px;
}

.color-white {
  border: 1px solid #888888;
  background-color: #FFFFFF;
}
.color-black {
  background-color: #000000;
}
.color-black .catalog-filter__checkbox-input:checked + .catalog-filter__checkbox-label::after {
  border: 1px solid #888888;
  background-image: url(image/galka-white.png);
}
.color-gray {
  background-color: #737373;
}
.color-red {
  background-color: #FF0000;
}
.color-orange {
  background-color: #FF7A41;
}
.color-yellow {
  background-color: #F2CB01;
}
.color-green {
  background-color: #00BF2A;
}
.color-cyan-lime {
  background-color: #1CCC97;
}
.color-blue-sky {
  background-color: #009FE3;
}
.color-blue {
  background-color: #000AF8;
}
.color-blue .catalog-filter__checkbox-input:checked + .catalog-filter__checkbox-label::after {
  border: 1px solid #000000;
  background-image: url(image/galka-white.png);
}
.color-purple {
  background-color: #6710D6;
}
.color-purple .catalog-filter__checkbox-input:checked + .catalog-filter__checkbox-label::after {
  border: 1px solid #000000;
  background-image: url(image/galka-white.png);
}
.color-violet {
  background-color: #9D0DB5;
}
.color-mauve {
  background-color: #D89AFF;
}
.color-pink {
  background-color: #FF65A6;
}

.catalog-filter__checkbox--room {
  display: flex;
  gap: 14px;
  align-items: center;
}
.catalog-filter__checkbox--room-input {
  border: 1px solid #888888;
  cursor: pointer;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.catalog-filter__checkbox--room-input:checked::before {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  background-image: url(image/galka.png);
  background-size: 10px;
  border-width: 1px;
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.catalog-filter__checkbox--room-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  letter-spacing: 0%;
}

.top-cart {
  height: 400px;
  background-image: url(image/Top-cart.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-cart__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 70px;
  margin-top: 127px;
  color: #FFFFFF;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 64px;
  margin-bottom: 64px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 14px;
}
.cart__item {
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 0.5px solid #CACDD8;
}
.cart__left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cart__img {
  width: 173px;
  height: 173px;
}
.cart__info {
  width: 276px;
  padding-left: 31px;
}
.cart__name {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 14px;
}
.cart__description {
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  padding-bottom: 16px;
}
.cart__price {
  font-weight: 500;
  font-size: 16px;
}
.cart__link-box {
  margin-top: 14px;
  display: flex;
  gap: 30px;
}
.cart__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart__number {
  background-color: #F7F6F6;
  border-radius: 6px;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 71px;
  height: 51px;
  background-image: url(image/Frame\ 98.svg);
  background-repeat: no-repeat;
  background-position: 41px;
}
.cart__button-box {
  display: flex;
  gap: 7px;
  padding-bottom: 60px;
}
.cart__link {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #000000;
}
.cart__button {
  font-family: Montserrat;
  display: inline-block;
  color: #000000;
  width: 200px;
  height: 37px;
  border-radius: 50px;
  border-width: 1px;
  border: 1px solid #000000;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  align-content: center;
}
.cart__button:hover {
  background: #000000;
  color: #FFFFFF;
}
.cart__form {
  background-color: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
  width: 379px;
}
.cart__form-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 35px;
}
.cart__form-order {
  display: flex;
  gap: 44px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}
.cart__form-input {
  width: 288px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  padding-bottom: 3px;
  border-bottom: 0.5px solid #CACDD8;
  background-color: transparent;
}
.cart__form-input::-moz-placeholder {
  color: #000000;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.cart__form-input::placeholder {
  color: #000000;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.cart__form-input:focus {
  outline: none;
}
.cart__form-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.cart__form-total {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.cart__form-price {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.cart__form-button {
  width: 290px;
  height: 41px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: transparent;
}
.cart__form-button:hover {
  background: #000000;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .furniture-categories__item {
    height: 268px;
  }
  .products__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .catalog__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .cart {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    border-bottom: none;
    padding-top: 32px;
  }
  .header__input {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    width: 99px;
  }
  .header__menu-mob {
    display: flex;
    gap: 32px;
  }
  .top__container {
    text-align: center;
  }
  .top__slogan {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__gotocatalog {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .title {
    font-size: 48px;
  }
  .furniture-categories {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .furniture-categories__container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .furniture-categories__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34.13px;
  }
  .furniture-categories__item__big {
    height: 244px;
  }
  .furniture-categories__heading {
    font-size: 24px;
    line-height: 29.26px;
  }
  .catalog__heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
  }
  .products__heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
  }
  .product {
    width: 343px;
  }
  .product__name {
    font-size: 18px;
    line-height: 21.94px;
  }
  .product__price {
    font-size: 18px;
  }
  .product__description {
    width: 342px;
    margin-bottom: 8px;
  }
  .footer {
    height: 363px;
  }
  .footer__logo-a {
    display: none;
  }
  .footer__container {
    justify-content: center;
    gap: 32px;
    width: 100%;
  }
  .footer__info {
    gap: 100.2px;
  }
  .catalog-top__content {
    display: flex;
    justify-content: center;
  }
  .catalog-top__title {
    font-size: 48px;
    line-height: 58.51px;
  }
  .catalog-filter-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .catalog-menu {
    padding-top: 32px;
  }
  .catalog-menu__nav {
    padding-bottom: 14px;
  }
  .top-cart__title {
    font-size: 48px;
    line-height: 58.51px;
    text-align: center;
    margin-top: 82px;
  }
  .cart__name-box {
    display: none;
  }
  .cart__img {
    display: none;
  }
  .catalog-filter__content-wrapper {
    flex-direction: column;
  }
  .catalog-filter__form {
    right: -130px;
  }
}/*# sourceMappingURL=style.css.map */